@{
    Layout = null;
    // ViewBag props
    // microwaveNames
    // ovenNames
    // fridgeNames
}


<!DOCTYPE html>

<html lang="en">
<head>
    <meta name="viewport" content="width=device-basic-width" />
    <title>Smart House MVC</title>
    <link rel="stylesheet" href="../../Content/Css/SmartHouseMVC.css" />
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery-ui.min.js"></script>
    <script src="~/Scripts/jquery.cookie.js"></script>
    <script src="~/Scripts/jquery.myClock.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/api-script.js"></script>
</head>
<body>

    <!--
    // Данные Css id и классы используются для работы скриптов.
    // Их переименование обязательно должно быть синхронизировано с серверным кодом
    //
    // #clock-dialog
    // #microwave-dialog
    // #oven-dialog
    // #fridge-dialog
    // #rename-dialog
    // #renameId
    // #newName
    -->
    <div>
        <div class="add-device-panel">
            @CreateDevicePanelItem("../../Content/Images/clock.png", "clock-dialog")
            @CreateDevicePanelItem("../../Content/Images/microwave.png", "microwave-dialog")
            @CreateDevicePanelItem("../../Content/Images/oven.png", "oven-dialog")
            @CreateDevicePanelItem("../../Content/Images/fridge.png", "fridge-dialog")
        </div>

        <div id="all-devices-container">
        </div>
        <!-- hidden -->
        @CreateDeviceDialog("clock-dialog", "clock")
        @CreateDeviceDialog("microwave-dialog", "microwave", ViewBag.microwaveNames)
        @CreateDeviceDialog("oven-dialog", "oven", ViewBag.ovenNames)
        @CreateDeviceDialog("fridge-dialog", "fridge", ViewBag.fridgeNames)

        @CreateRenameDialog("rename-dialog")
        <!-- end hidden -->
        <audio id="bell">
            <source src="~/Content/Sounds/bell.mp3" type="audio/mpeg" />
        </audio>
    </div>
</body>
</html>

@helper CreateDevicePanelItem(string src, string dialogId)
{
    <div>
        <div class="image">
            <img src="@src" />
        </div>
        <div class="add-device-control">
            <input type="button" value="Add" onclick="openDialog('@dialogId')" />
        </div>
    </div>
}

@helper CreateDeviceDialog(string dialogId, string device, string[] items = null)
{
    <div id="@dialogId" class="hidden">
        @using (Html.BeginForm("AddDevice", "Home", FormMethod.Post))
        {
            @Html.TextBox("name", null, new { autocomplete = "off" })
            <input type="hidden" name="device" value="@device" />
            if (items != null)
            {
                <select name="fabricator">
                    @foreach (string item in items)
                    {
                        <option value="@item">@item</option>
                    }
                </select>
            }
            <input type="submit" value="Ок" onclick="addDevice(event);" />
        }
    </div>
}

@helper CreateRenameDialog(string dialogID)
{
    <div id="@dialogID" class="hidden">
        @using (Html.BeginForm("RenameDevice", "Home", FormMethod.Post))
        {
            @Html.TextBox("newName", null, new { autocomplete = "off" })
            <input type="submit" id="rename-button" value="Ok" />
        }
    </div>
}